:root {
 --cor-d: #7289da;
 --cor-1: #111;
 --cor-m: rgb(230, 44, 44);
 --cor-p: black;
 --cor-b: white;
 --cor-c: #b2b2b2;

}
.cor-p {
 color: var(--cor-1);
}
.cor-d {
 color: var(--cor-d);
}
.cor-b {
 color: var(--cor-b);
}
.cor-c {
 color: var(--cor-c);
}
.cor-m {
 color: var(--cor-m);
}
.cor-1 {
 color: var(--cor-1);
}
