.roboto-400 {
 font: 400 1.2rem/1.125 'Roboto', sans-serif;
}
.roboto-600-small {
    font: 600 2rem/1.125 'Roboto', sans-serif;
}   
.roboto-600 {
 font: 600 4rem/1.125 'Roboto', sans-serif;
}
.ibm-500 {
 font: 500 1.2rem/1.5  'IBM Plex Mono', sans-serif;
}
.ibm-400 {
    font: 400 0.75rem/1.125  'IBM Plex Mono', sans-serif;
   }
   

@media (max-width: 1120px) {
    .ibm-500  {
        font-size: 1rem;
    }
}
@media (max-width: 950px) {
    .roboto-600{
        font-size: 3rem;
    }
    .ibm-500  {
        font-size:0.75rem;
    }
}
@media (max-width: 750px) {
    .roboto-600{
        font-size: 2rem;
    }
    .ibm-500  {
        font-size: 0.75rem;
    }
}
   